<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home page</title>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: black;">ATN Store</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/addProduct">Add product</a></li>
            <li><a href="/findAll">Find all Products</a></li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="container-fluid bg-1 text-center">
        <p style="font-size: 25px;">ATN is a Vietnamese company which is selling toys to teenagers in many provinces all over Vietnam. We provide safe, fun and friendly toy, suitable for age 3 to 25</p>
    </div>
    <div class="container-fluid bg-2 text-center">
        <img src="https://www.kaboodlestoystore.com/uploads/2020/12/hdr-toystore1.jpg" style="width: 100%;">
    </div>
    <br>
    <footer class="container-fluid bg-4 text-center">
        <p>Copyright by minhnggch19088@fpt.edu.vn - FPT Greenwich</a></p>
    </footer>
</body>
</html>